@import "@/assets/css/custom";
@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/dist/css/bootstrap.min.css"; // Import css file


code {
    color: rgb(150, 150, 150);
    padding: 10px;

}

pre code {
    width: 100%;
    color: rgb(150, 150, 150);
    border: rgb(150, 150, 150) solid 1px;
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}